BEMFA_BRIDGE_BROKER_URL=ssl://bemfa.com:9503
BEMFA_BRIDGE_TOPIC=xidingdeng002xidingdeng002
BEMFA_BRIDGE_UID_FILE=/run/secrets/bemfa-uid
BEMFA_BRIDGE_LAMP_API_URL=http://192.168.31.129:8791
BEMFA_BRIDGE_LAMP_TOKEN_FILE=/run/secrets/lamp-api-token
BEMFA_BRIDGE_DRY_RUN=true
BEMFA_BRIDGE_HTTP_TIMEOUT=3s
BEMFA_BRIDGE_DEDUP_WINDOW=5s
